body {
  margin: 1;
  background-color: #f5f3f1;
}

.headbox {
  background-color: #f5f3f1;
  background-position: center center;
  border: 1px solid transparent;
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.1);
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  z-index: 9999;
  display: table;
  vertical-align: middle;
}

.picturesmall {
  position: absolute;
  border-radius: 50%;
  margin-left: 2%;
  margin-top: 1%;
  width: 5.4%;
  height: 70%;
}

.headName {
  position: relative;
  border: 1px solid transparent;
  width: 50%;
  height: 100%;
  left: 10%;
  font-family: Comic Sans MS, Comic Sans, fantasy;
  font-variant: small-caps;
  font-size: 1.2vw;
}

.container {
  position: relative;
  border: 1px solid transparent;
  background-color: #f0f4f5;
  top: 5vw;
  width: 100%;
  height: 50vw;
}

.aboutPersik {
  border: 1px solid transparent;
  width: 45%;
  height: 60%;
  position: absolute;
  top: 17%;
  left: 2%;
  z-index: 9;
}

.textAboutPersik {
  position: absolute;
  border: 1px solid transparent;
  width: 100%;
  top: 3vw;
  left: 1vw;
  font-family: Comic Sans MS, Comic Sans, fantasy;
  font-variant: small-caps;
  font-weight: 900;
  font-size: 2.8vw;
}

.restTextAboutPersik {
  position: absolute;
  border: 1px solid transparent;
  width: 95%;
  top: 12vw;
  left: 1vw;
  font-family: Comic Sans MS, Comic Sans, fantasy;
  font-size: 1.3vw;
}

.btn1 {
  color: white;
  background: #000000;
  position: absolute;
  font-family: Comic Sans MS, Comic Sans, fantasy;
  font-size: 1vw;
  border: 1px solid black;
  top: 26vw;
  left: 6vw;
  width: 10vw;
  height: 3vw;
  cursor: pointer;
}

.btn2 {
  position: absolute;
  display: table;
  border: 1px solid transparent;
  top: 26vw;
  left: 20vw;
  width: 10vw;
  height: 3vw;
  color: black;
  font-family: Comic Sans MS, Comic Sans, fantasy;
  font-size: 1vw;
  cursor: pointer;
}

.panorama {
  position: fixed;
  border: 1% solid transparent;
  width: 100%;
  height: 120vw;
}

.picturebig {
  position: absolute;
  top: -8.5vw;
  left: 1vw;
  width: 98%;
  height: 44.5%;
  z-index: 0;
  background-attachment: fixed;
}

.tn-atom3 {
  position: relative;
  border: 0px solid transparent;
  top: 2vw;
  display: table;
  width: 101%;
  height: 100%;
}

.restofinfo {
  position: relative;
  background-color: #f5f3f1;
  border: 0px solid transparent;
  width: 101%;
  height: 86vw;
  bottom: -1vw;
}

.container1 {
  position: relative;
  width: 80%;
  height: 90%;
  top: 6vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  height: 75vw;
  display: table;
  border: 0px solid transparent;
}

.tn-atom4 {
  position: absolute;
  width: 49%;
  height: 100%;
  top: 0;
  left: 0;
  border: 1px solid transparent;
}

.pictureMedium {
  top: 1vw;
  padding: 0.5em;
  width: 84%;
}

.tn-atom5 {
  position: absolute;
  width: 49%;
  height: 100%;
  top: 0;
  right: 0;
  border: 1px solid transparent;
}

.storyPersik {
  position: absolute;
  border: 1px solid transparent;
  width: 100%;
  text-align: center;
  font-family: Comic Sans MS, Comic Sans, fantasy;
  font-variant: small-caps;
  font-weight: 900;
  font-size: 2vw;
}

.tn-atom6 {
  position: absolute;
  border: 1px solid transparent;
  width: 100%;
  top: 4vw;
  bottom: 2vw;
  font-family: Comic Sans MS, Comic Sans, fantasy;
  font-size: 1.05vw;
}

.footer {
  background-color: #f5f3f1;
  background-position: center center;
  border: 0px solid transparent;
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.1);
  bottom: 0;
  width: 100%;
  height: 3vw;
  position: fixed;
  z-index: 9999;
  display: table;
  vertical-align: middle;
  box-sizing: border-box;
}

.aboutPage {
  font-size: 2vw;
  margin-top: 20vw;
  color: #566573;
  font-family: Comic Sans MS, Comic Sans, fantasy;
  font-variant: small-caps;
  text-align: center;
}

.btn3 {
  padding: 0.2vw 0.2vw;
  color: #566573;
  background: transparent;
  position: absolute;
  font-family: Comic Sans MS, Comic Sans, fantasy;
  font-size: 0.8vw;
  font-weight: 900;
  border: 0.2vw solid #566573;
  top: 30vw;
  left: 45vw;
  width: 10vw;
  height: 3vw;
  cursor: pointer;
}

.container2 {
  position: relative;
  top: 11vw;
  left: 2vw;
  /* margin-left: auto; */
  display: block;
  
}

.btn4 {
  padding: 0.2vw 0.2vw;
  color: #566573;
  background: transparent;
  position: absolute;
  font-family: Comic Sans MS, Comic Sans, fantasy;
  font-size: 0.8vw;
  font-weight: 900;
  border: 0.2vw solid #566573;
  top: -3vw;
  left: 45vw;
  width: 10vw;
  height: 3vw;
  cursor: pointer;
}

.tn-atom7 {
  display: inline-flex;
  padding: 1vw;
}

.pictureForAlbum {
  margin-top: 0.5vw;
  padding: 0.5vw;
  width: 29vw;
}
